{# templates/admin/waitingCaptures.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Observations en attente de validation {% endblock %}
{% block stylesheets %} {% endblock %}
{% block body %} 
	<h1>Espace administration</h1>
	<h2>Observations en attente de validation</h2>

	<section>
		{{ include('admin/waitingCapturesModel.html.twig')}}
		<div>
			<ul>
				{% if nbWaitingForValidationCapturesPages > 1 %}
					<p> 
						<a href="{{ path('admin_space') }}"> Retour </a> 
					</p>
					{% if previousPage > 1 %}
					<p> 
						<a href="{{ path('admin_space_waiting_captures', {page: previousPage}) }}"> << </a> 
					</p>
					{% endif %}
					{% for i in 2..nbWaitingForValidationCapturesPages %}
						<li {% if page == i %} class="active" {% endif %}>
   							<a href="{{ path('admin_space_waiting_captures', {page: i}) }}"> {{i}} </a>
   						</li>
   					{% endfor %}
    				<p>
    					{% if nextPage <= nbWaitingForValidationCapturesPages %}
    						<a href="{{ path('admin_space_waiting_captures', {page: nextPage}) }}"> >> </a>
    					{% endif %}
    				</p> 
    			{% endif %}
			</ul>
		</div>
	</section>
{% endblock %}
{% block javascripts %} {% endblock %}
