{% extends "base.html.twig" %}


{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <form action="{{ path('contact') }}" method="post">
       {{ form_errors(form) }}
       {{ form_widget(form) }}
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}