{% extends "base_email.html.twig" %}
{% block email_subject %}Demande de réinitialisation de mot de passe{% endblock %}
{% block email_style %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/email/activation_compte.css')) }}">
{% endblock %}
{% block email_body %}
    <div class="row center">
        <h2>Vous avez demandé la réinitialisation de votre mot de passe !</h2>
        <p class="darken-1">Veuillez suivre le lien ci-dessous afin de réinitialiser votre mot de passe.</p>
    </div>
    <div class="row center">
        <a href="http://localhost:8000/password-reinitialisation/{{ user.token }}" target="_blank" id="download-button" class="btn-large waves-effect waves-light green">Réinitialiser mon mot de passe !</a>
    </div>
{% endblock %}