{% extends "layout.html.twig" %}

{% block title %}Observation numéro {{ capture.id }} {% endblock %}

{% block mapStylesheets %}
	{{ parent() }}
	<style type="text/css">
			.capturemap{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
			}
		</style>
{% endblock %}

{% block body %}
	<div id="map0" class="capturemap" data-identifiant={{ capture.id }}>
	</div>
	<h1>
		<a href="{{ path('bird', {id: capture.bird.id}) }}">
			{% if capture.bird.vernacularname == false %}
				{{ capture.bird.validname }}
			{% else %}
				{{ capture.bird.vernacularname }} - {{ capture.bird.validname }}
			{% endif %}
		</a>
	</h1>
    {% if capture.image is not null %}
		<img src="{{ asset('uploads/bird/' ~ capture.image.filename) }}" alt="" height="150">
    {% endif %}
	<p>
		{% if capture.status == 'validated' %}
			Validé
		{% endif %}
	</p>
	<p>{{ capture.createdDate|date('d/m/Y') }}</p>
	<p>{{ capture.address }}, {{ capture.zipcode }}, {{ capture.city }}</p>
	<p>Informations :</p>
	<p>{{ capture.content }}</p>
	<p>
		Publié par :
		{% if capture.user.avatar == null %}
			{{ capture.user.username }}
		{% else %}
			<img src="{{ asset('uploads/avatar/' ~ capture.user.avatar.filename ) }}" alt="" height="80">
		{% endif %}
	</p>
	{% if 'particular' in capture.user.roles %}
		<p>Validé par :
			{% if capture.validatedBy.avatar == null %}
				{{ capture.validatedBy.username }}
			{% else %}
                {{ capture.validatedBy.username }}
				<img src="{{ asset('uploads/avatar/' ~ capture.validated_by.avatar.filename) }}" alt="" height="80">
			{% endif %}
		</p>
	{% endif %}

	<p id="numbercomments" data-number={{ numberOfCaptureComments }}>
		{% if numberOfCaptureComments == 1 %}
			Commentaire :
		{% elseif numberOfCaptureComments > 1 %}
			Commentaires :
		{% else %}
			Soyez le premier à commenter !
		{% endif %}
	</p>
	<section id="comments">
		<ul id="comment">
		</ul>
	</section>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<button type="submit">Commenter</button>
	{{ form_end(form) }}
{% endblock %}

{% block mapJavascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/maps/showcapturemap.js') }}"></script>
{% endblock %}
{% block paginationJavascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/comments/commentspagination.js') }}"></script>
{% endblock %}
   
